@model MyWeb.Models.Games
@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Selected Game</h2>

<h3><b>Id of Game : </b>@Model.Id </h3>
<h3><b>Name of Game : </b>@Model.Name </h3>